.valid-move {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 255, 0, 0.5); /* 緑色の半透明 */
  z-index: 1; /* 駒の下に表示されるのを防ぐ */
  pointer-events: auto; /* マウスイベントを有効にする */
}

.dog {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: lightgray;
  border: 1px solid black;
  text-align: center;
  line-height: 100px;
  cursor: pointer; /* クリックできることを示す */
}

.vertical-boundary, .horizontal-boundary {
  position: absolute;
  background-color: red;
}

.vertical-boundary {
  width: 1px;
  height: 400px;
}

.horizontal-boundary {
  height: 1px;
  width: 400px;
}