:root {
  --dog-size: 75px; /* 犬とマスのサイズ */
}

.dog {
  width: var(--dog-size);
  height: var(--dog-size);
  left: calc(var(--x-position) * var(--dog-size));
  top: calc(var(--y-position) * var(--dog-size));
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.dog.selected {
  border-color: rgba(144, 238, 144, 0.5); /* 選択された時の境界線色 */
}

.dog.disabled {
  border-color: gray; /* disabled状態の境界線色 */
  cursor: not-allowed;
  opacity: 0.6; /* 見た目の変化を追加 */
}