#game-board-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#game-board {
  position: absolute;
  transform: translate(-50%, -50%);
}

.dog {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  box-sizing: border-box;
}

.valid-move {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 255, 0, 0.3);
  border: 1px solid green;
  box-sizing: border-box;
}